.text-green {
    color: #468362
}

.text-white {
    color: #ffffff
}

p.text-white > a{
    color: white;
}

.background-navy {
    background-color: #25283D
}

.background-green {
    background-color: #468362
}

div.borderless-section > div {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

img.top {

}

img.mission {
    float: right;
}

img.about {
    width: 20em;
    height: auto;
    text-align:center;
}

img.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.logo {
    width: 15em;
    height: auto;
    text-align:center;
}

img.sketch {
    width: 20em;
    height: auto;
    text-align:center;
}

.imgContainer {
    overflow: hidden;
    height: 75vh;
    position: relative;
}
.imgContainer img {
    position: relative;
    height: 75vh
}