.centre {
    display: block;
    margin: 0 auto;
}

.centre-justify {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.text-nav {
    font-family: 'Quicksand', sans-serif;
}

.text-paragraph {
    font-family: 'Open Sans', sans-serif;
}

.text-paragraph--white {
    text-align: center;
    color: #ffffff;
}

.text-paragraph--black {
    text-align: center;
    color: #000000;
}

.panel--half-size {
    height: 50%;
}

.panel--full-size {
    width: 100%;
}