html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-image: linear-gradient(90deg, #A18CD1, #FBC2EB);
}

div.inner > * {
    margin: 24px 0;
}

h1 {
    margin: 0;
    padding-bottom: 8px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    line-height: 20px;
}

h1.title {
    text-align: left;
}

h1.centered {
    text-align: center;
}

img {
    display: block;
    position: relative;
    left: 25%;
    height: 300px;
}

.inner {
    width: 600px;
    height: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.outer {
    position: relative;
    width: 100vw;
    height: 100vh;
}
